* {
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background: #7d7d7d;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.calculator {
    margin-top: 0px;
    background: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #474747;
}

.calculator input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background: transparent;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    margin: 3px;
    padding: 2px;
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    border-radius: 15px;
    border: 0.5px solid rgba(71, 71, 71, 0.5)
}

.display input {
    text-align: right;
    flex: 1;
    font-size: 35px;
    box-shadow: none;
}

.operator {
    color: #63B7B7;
}

.title-text {
    text-align: center;
    background: #e3f9ff;
}

.button-custom {
    background-color: #171717;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    padding: 2px;
    margin: 3px;
    font-size: 25px;
}

.button-custom:hover {
    background-color: rgb(50, 50, 50);
    transition: all 0.25s ease;
}

.button-custom:active {
    background-color: rgb(38, 38, 38);
    transition: all 0.25s ease;
}

.fn {
    color: white;
    background-color: #63B7B7;
}

.fn:hover {
    background-color: #6bc6c6;
}

.fn:active {
    background-color: #57a1a1;
}

.num {
    color: white;
}